
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 style="text-align: center">Welcome to admin page</h1>
      <hr>
      <div>
        <h2 style="text-align: center">Total Invetory Update</h2>
        <hr>
      <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Product_ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Category</th>
              <th scope="col">Inventory</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          {{# each orders }}
          <tbody>
            <tr>
              <td>{{this._id}}</td>
              <td>{{this.name}}</td>
              <td>{{this.description}}</td>
              <td>{{this.categoryName}}</td>
              <td>{{this.inventory}}</td>
              <td>{{this.price}}</td>
            </tr>
          </tbody>
          {{/each}}

        </table>
      </div>
      <hr>

      <a href="/user/productexcel" class="btn btn-success btn-lg btn-block">Export Inventory list to Exel</a>
      <hr>
      <h3 style="text-align: center">Total Orders Update</h3>
      <hr>
      <a href="/user/ordersexcel" class="btn btn-success btn-lg btn-block">Export Order list to Excel</a>

    </div>

</div>
